{% extends 'base.html.twig' %}

{% block title %}Fomration {{formation.nomCourt}}
{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>
          Formation {{formation.nomCourt}}
        </h2>
        <center></h5>
        <div class="card-body">
          <p class="card-text">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="card">
                    <h5 class="card-header">
                      <center>
                        <td>
                          <h4>
                            {{ formation.nomCourt }}
                          </h4>
                        </td>
                      </center>
                    </h5>
                    <div class="card-body">
                      <p class="card-text">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th>Nom court</th>
                              <td>{{ formation.nomCourt }}</td>
                            </tr>
                            <tr>
                              <th>Nom long </th>
                              <td>{{ formation.nomLong }}</td>
                            </tr>
                        </tbody>
                      </table>
                    </p>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </p>
      </div>
    </div>

  {% endblock %}
