<div class="card">
  <h5 class="card-header"><center><h2><i class="fas fa-user"></i> Modifier le profil de {{enseignant.nom}} {{enseignant.prenom}}</h2></center>
</h5>
  <div class="card-body">
    <p class="card-text">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="card">
              <h5 class="card-header">
                <center>
                  <td>
                    <h4>
                      <i class="far fa-user"></i>
                      {{ enseignant.nom }}
                      {{ enseignant.prenom }}
                    </h4>
                  </td>
                </center>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  {{ form_start(form) }}
                  {{ form_widget(form) }}

                </p>
              </div>
              <div class="card-footer">
                <center>
                  <button class="btn-primary">
                    <i class="fas fa-pencil-alt"></i> {{ button_label|default(' Créer') }}</button>

                {{ form_end(form) }}

                <a href="{{ path('random_Onetoken', { 'id': enseignant.id }) }}">
                  <button class="btn-primary">
                    <i class="fas fa-link"></i>
                  {{ button_label2|default(' Générer le token ') }}</button>
                </a>

                </center>

              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
