{% extends 'base.html.twig' %}

{% block title %}Saisies des enseignants{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>Les saisies des enseignants</h2>
      </center>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Formations</th>
                <th>Saisie effectuée ?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for enseignant in enseignants %}
                <tr>
                  <td>{{ enseignant.prenom }}
                    {{ enseignant.nom }}</td>
                  <td>{{ enseignant.statut }}</td>
                  <td>
                    {% for formation in enseignant.formations %}

                      {% if loop.length > 1 %}
                        {% if loop.last %}{{formation}}
                        {% else %}
                          {{formation}}
                          -
                        {% endif %}

                      {% else %}
                        {{formation}}
                      {% endif %}

                    {% endfor %}
                  </td>
                  <td>
                    {% if enseignant.saisieFaite == true %}
                      Oui
                      <i class="far fa-check-circle"></i>
                      - Le
                      {{enseignant.dateSaisie|date("d/m/Y à h:s")}}
                    {% else %}
                      Non
                      <i class="far fa-times-circle"></i>
                    {% endif %}
                  </td>
                  <td>
                    <center>
                      <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-eye"></i>
                      </a>
                      <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <a href="{{ path('enseignant_delete', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-trash-alt"></i>
                      </a>

                      <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 1}) }}" style="text-decoration: none">
                        <img src="{{ asset('icones/PremierMail.png') }}"/>
                      </a>
                      {% if enseignant.premierMailRecu == true %}
                      <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 2}) }}" style="text-decoration: none">
                        <img src="{{ asset('icones/MailRelance.png') }}"/>
                      </a>
                      {% else %}
                      <a>
                        <img src="{{ asset('icones/MailRelanceDisable.png') }}"/>
                      </a>
                      {% endif %}

                      <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 3}) }}" style="text-decoration: none">
                        <img src="{{ asset('icones/MailOubli.png') }}"/>
                      </a>
                    </center>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="10">Aucun enseignant enregistré</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </p>
  </div>
</div>
</div>
</div>

{# Partie Log #}
</br>
</br>

<div class="row">
<div class="col-md-12">
<div class="card">
<h5 class="card-header">
<center>
  <h2>Les dernières modifications</h2>
</center>

</h5>
<div class="card-body">
<p class="card-text">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Date de modification</th>
          <th>Enseignant</th>
          <th>Statut</th>
          <th>Formations</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for enseignant in enseignants %}
          <tr>
            <td>{{ random(+'now'|date('U'))|date('H:i - d/m/Y') }}</td>
            <td>{{ enseignant.prenom }}
              {{ enseignant.nom }}</td>
            <td>{{ enseignant.statut }}</td>
            <td>
              {% for formation in enseignant.formations %}

                {% if loop.length > 1 %}
                  {% if loop.last %}{{formation}}
                  {% else %}
                    {{formation}}
                    -
                  {% endif %}

                {% else %}
                  {{formation}}
                {% endif %}

              {% endfor %}
            </td>
            <td>
              <center>
                <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}">
                  <i class="far fa-eye"></i>
                </a>
                <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </center>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="10">Aucun enseignant enregistré</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
</div>
</p>
</div>
</div>
</div>

{% endblock %}
