{% extends 'base.html.twig' %}

{% block title %}Saisies des enseignants{% endblock %}

{% block body %}
<center><h1>Saisies des enseignants</h1></center>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Formations</th>
                <th>Saisie effectuée ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.prenom }} {{ enseignant.nom }}</td>
                <td>{{ enseignant.statut }}</td>
                <td>
                {% for formation in enseignant.formations %}

                    {% if loop.length > 1 %}
                        {% if loop.last %}{{formation}}{% else %}
                        {{formation}} -
                        {% endif %}

                    {% else %}
                    {{formation}}
                    {% endif %}

                {% endfor %}
                </td>
                <td>{{ enseignant.saisieFaite ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}">Consulter</a>
                    <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enseignant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enseignant_new') }}">Ajouter un nouvel enseignant</a>
{% endblock %}
