{% extends 'base.html.twig' %}

{% block title %}Saisies des enseignants{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>Les saisies des enseignants</h2>
      </center>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Formations</th>
                <th>Saisie effectuée ?</th>
                <th>Date de la saisie</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for enseignant in enseignants %}
                <tr>
                  <td>{{ enseignant.prenom }}
                    {{ enseignant.nom }}</td>
                  <td>{{ enseignant.statut }}</td>
                  <td>
                    {% for formation in enseignant.formations %}

                      {% if loop.length > 1 %}
                        {% if loop.last %}{{formation}}
                        {% else %}
                          {{formation}}
                          -
                        {% endif %}

                      {% else %}
                        {{formation}}
                      {% endif %}

                    {% endfor %}
                  </td>
                  <td>
                    {% if enseignant.saisieFaite == true %}
                      Oui
                      <font color="green">
                        <i class="far fa-check-circle"></i>
                      </font>
                    {% else %}
                      Non
                      <font color="orange">
                        <i class="far fa-times-circle"></i>
                      </font>
                    {% endif %}
                  </td>
                  <td>
                    {% if enseignant.dateSaisie == null %}
                      Aucune saisie
                    {% else %}
                      {{enseignant.dateSaisie|date("d/m/Y à H:i")}}
                    {% endif %}
                  </td>
                  <td>
                    <center>
                      <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-eye" title="Voir l'enseignant"></i>
                      </a>
                      &nbsp;
                      <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="fas fa-pencil-alt" title="Modifier l'enseignant"></i>
                      </a>
                      &nbsp;
                      <a href="{{ path('enseignant_delete', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-trash-alt" title="Supprimer l'enseignant"></i>
                      </a>
                      &nbsp;
                      {% if enseignant.saisieFaite == false %}
                        <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 1}) }}" style="text-decoration: none">
                          <img src="{{ asset('icones/PremierMail.png') }}" title="Envoyer le premier mail"/>
                        </a>
                      {% else %}
                        <a>
                          <img src="{{ asset('icones/PremierMailDisable.png') }}" title="{{enseignant.nom}} {{enseignant.prenom}} a déjà fait sa saisie"/>
                        </a>
                      {% endif %}
                      {% if enseignant.saisieFaite == false %}
                        <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 2}) }}" style="text-decoration: none">
                          <img src="{{ asset('icones/MailRelance.png') }}" title="Envoyer le mail de relance"/>
                        </a>
                      {% else %}
                        <a>
                          <img src="{{ asset('icones/MailRelanceDisable.png') }}" title="{{enseignant.nom}} {{enseignant.prenom}} a déjà fait sa saisie"/>
                        </a>
                      {% endif %}

                      <a href="{{ path('notifierUnEnseignant', {'id': enseignant.id , 'compteur': 3}) }}" style="text-decoration: none">
                        <img src="{{ asset('icones/MailOubli.png') }}" title="Envoyer le mail d'oubli"/>
                      </a>
                    </center>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="10">Aucun enseignant enregistré</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </p>
  </div>
</div>
</div>
</div>

{# Partie Log #}
</br>
</br>

<div class="row">
<div class="col-md-12">
<div class="card">
<h5 class="card-header">
<center>
  <h2>Journal des modifications</h2>
</center>

</h5>
<div class="card-body">
<p class="card-text">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Date de connexion</th>
          <th>Enseignant</th>
          <th>Opérations réalisées</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for logEnseignantCourant in logsEnseignants %}
            <td>
              <center>{{logEnseignantCourant.dateLog|date("d/m/Y à H:i")}}</center>
            </td>
            <td>
              <center>{{logEnseignantCourant.enseignant.nom}} {{logEnseignantCourant.enseignant.prenom}}</center>
            </td>
            <td>
              <center>


                {% if logEnseignantCourant.zone == "Zone saisie hebdomadaire" %}
                <center>Zone saisie hebdomadaire
                  {% if 'Suppression' in logEnseignantCourant.description %}
                    <i class="far fa-trash-alt"></i>
                  {% endif %}
                  {% if 'Ajout' in logEnseignantCourant.description %}
                  <i class="fas fa-plus-circle"></i>
                  {% endif %}
                  {% if 'Modification' in logEnseignantCourant.description %}
                    <i class="fas fa-pencil-alt"></i>
                  {% endif %}
                </center>
                {% endif %}

                  </center>

              {% if logEnseignantCourant.typeAction == "Consultation" %}
              <center>Consultation seulement <i class="far fa-eye"></i></center>
              {% endif %}

                {% if logEnseignantCourant.zone == "Zone saisie ponctuelle"%}
                <center>Zone saisie ponctuelle</center>
                  {% if 'Suppression' in logEnseignantCourant.description %}
                  <center><i class="far fa-trash-alt"></i></center>
                  {% endif %}
                  {% if 'Ajout' in logEnseignantCourant.description %}
                  <center><i class="fas fa-plus-circle"></i></center>
                  {% endif %}
                  {% if 'Modification' in logEnseignantCourant.description %}
                  <center>  <i class="fas fa-pencil-alt"></i></center>
                  {% endif %}
                {% endif %}
            </td>
            <td>
              <center>
                <a href="{{ path('log_enseignant_show', {'id': logEnseignantCourant.id}) }}" style="text-decoration: none">
                  <i class="far fa-eye" title="Voir le log"></i>
                </a>
              </center>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="10">Aucun enseignant enregistré</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
</div>
</div>
</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{{asset('monJs/datatable.js')}}"></script>
{% endblock %}
