{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					<center><h2>Les enseignants</h2></center>
				</h5>
				<div class="card-body">
					<p class="card-text">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Statut</th>
                          <th>Etat</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for enseignant in enseignants %}
                      <tr>
                          <td> {{ enseignant.nom }}</td>
                          <td> {{ enseignant.prenom }}</td>
                          <td> {{ enseignant.statut }}</td>
                          <td>{{ enseignant.enSommeil ? 'Inactif <i class="far fa-moon"></i>' : 'Actif' }}</td>
                          <td>
                          <center>
                              <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}"><i class="far fa-eye"></i></a>
                              <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                              <a href="{{ path('enseignant_delete', {'id': enseignant.id}) }}"><i class="far fa-trash-alt"></i></a>
                          </center>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="10">Aucun enseignant enregistré</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </p>
        </div>
					</p>
				</div>
        <div class="card-footer">
        <center>
					<a href="{{ path('enseignant_new') }}"><button class="btn-primary"><i class="fas fa-plus-circle"></i> Ajouter un enseignant</button></a>
          <button class="btn-primary"><i class="fas fa-link"></i> Regénérer tous les liens </button>
          <button class="btn-primary"><i class="fas fa-download"></i> Télécharger toutes les contraintes </button>
          </center>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
