{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>Les enseignants</h2>
      </center>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                <th>Etat</th>
                <th>
                  Premier mail reçu ?
                </th>
                <th>
                  Mail de relance reçu ?
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for enseignant in enseignants %}
                <tr>
                  <td>
                    {{ enseignant.nom }}</td>
                  <td>
                    {{ enseignant.prenom }}</td>
                  <td>
                    {{ enseignant.statut }}</td>
                  <td>{{ enseignant.enSommeil ? 'Inactif <i class="far fa-moon"></i>' : 'Actif' }}</td>
                  <td>
                    {% if enseignant.premierMailRecu == true %}
                      Oui <font color="green"><i class="far fa-check-circle" ></i></font> - Le
                      {{enseignant.datePremierMail|date("d/m/Y à H:i", "Europe/Paris")}}
                    {% else %}
                      Non reçu <font color="orange"><i class="far fa-times-circle"></i></font>
                    {% endif %}
                  </td>
                  <td>
                    {% if enseignant.mailRelanceRecu == true %}
                      Oui <font color="green"><i class="far fa-check-circle" ></i></font>- Dernière relance : Le
                      {{enseignant.dateDerniereRelance|date("d/m/Y à H:i", "Europe/Paris")}}
                      ({{enseignant.nbRelance}}
                      {% if enseignant.nbRelance > 1 %}
                        relances au total)
                      {% else %}
                        relance au total)
                      {% endif %}
                    {% else %}
                      Non reçu <font color="orange"><i class="far fa-times-circle"></i></font>
                    {% endif %}
                  </td>
                  <td>
                    <center>
                      <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-eye" title="Voir l'enseignant"></i>
                      </a>
                      <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="fas fa-pencil-alt" title="Modifier l'enseignant"></i>
                      </a>
                      <a href="{{ path('enseignant_supprimer', {'id': enseignant.id}) }}" style="text-decoration: none">
                        <i class="far fa-trash-alt" title="Supprimer l'enseignant"></i>
                      </a>
                    </center>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="10">Aucun enseignant enregistré</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </p>
  </div>
  <div class="card-footer">
    <center>
      <a href="{{ path('enseignant_new') }}">
        <button class="btn-primary">
          <i class="fas fa-plus-circle"></i>
          Ajouter un enseignant</button>
      </a>
      <a href="{{ path('random_token') }}">
        <button class="btn-primary">
          <i class="fas fa-link"></i>
          Regénérer tous les liens</button>
      </a>

      <button class="btn-primary">
        <i class="fas fa-download"></i>
        Télécharger toutes les contraintes
      </button>
    </center>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="{{ asset('monJs/datatable.js')}}"></script>
{% endblock %}
