{% extends 'base.html.twig' %}

{% block title %}Profil de {{enseignant.nom}} {{enseignant.prenom}}{% endblock %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					<center><h2><i class="fas fa-user"></i> Profil de {{enseignant.nom}} {{enseignant.prenom}}</h2><center>
				</h5>
				<div class="card-body">
					<p class="card-text">
          <div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 class="card-header">
					<center><td><h4> <i class="far fa-user"></i> {{ enseignant.nom }} {{ enseignant.prenom }} </h4></td></center>
				</h5>
				<div class="card-body">
					<p class="card-text">
          <table class="table">
              <tbody>
                  <tr>
                      <th>Adresse Mail</th>
                      <td>{{ enseignant.mail }}</td>
                  </tr>
                  <tr>
                      <th>Statut</th>
                      <td>{{ enseignant.statut }}</td>
                  </tr>
                  <tr>
                      <th>Etat</th>
                      <td>{{ enseignant.enSommeil ? 'Inactif' : 'Actif' }}</td>
                  </tr>
                  <tr>
                      <th>Token</th>
                      <td>{{ enseignant.token }}</td>
                  </tr>
									<th>SaisieFaite</th>
	                <td>{{ enseignant.saisieFaite ? 'Yes' : 'No' }}</td>
	            </tr>
	            <tr>
	                <th>DateSaisie</th>
	                <td>{{ enseignant.dateSaisie ? enseignant.dateSaisie|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>DateDerniereModif</th>
	                <td>{{ enseignant.dateDerniereModif ? enseignant.dateDerniereModif|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>PremierMailRecu</th>
	                <td>{{ enseignant.premierMailRecu ? 'Yes' : 'No' }}</td>
	            </tr>
	            <tr>
	                <th>MailRelanceRecu</th>
	                <td>{{ enseignant.mailRelanceRecu ? 'Yes' : 'No' }}</td>
	            </tr>
	            <tr>
	                <th>DatePremierMail</th>
	                <td>{{ enseignant.datePremierMail ? enseignant.datePremierMail|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>DateDerniereRelance</th>
	                <td>{{ enseignant.dateDerniereRelance ? enseignant.dateDerniereRelance|date('Y-m-d H:i:s') : '' }}</td>
	            </tr>
	            <tr>
	                <th>NbRelance</th>
	                <td>{{ enseignant.nbRelance }}</td>
	            </tr>
              </tbody>
          </table>
					</p>
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
