{% extends 'baseEnseignant.html.twig' %}

{% block title %}Contraintes EDT - IUT Bayonne{% endblock %}

{% block enTete %}

<div class="jumbotron" style="height : 230px">
  <h1 class="display-4">{{enseignant.prenom}} {{enseignant.nom}}</h1>
  <p class="lead">Contraintes d'emploi du temps pour l'année universitaire {{formulaireTitulaire.anneeUniversitaire}} à l'IUT de Bayonne</p>
  <hr class="my-4">
</div>

{% endblock %}


{% block sideNav %}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" id="close">&times;</a>
  <center><h5 id="nomcreneau">Description</h5><textarea type="text" name="titre" id="titrevt" style="width: 280px; rows: 50"></textarea>
  </br>
  <p id="type"></p>
  <p id="prio"></p>
</br>
<p id="dateDebut"></p>
<p id="dateFin"></p>
</br>
<button id="apply"><i class="far fa-save"></i> Enregistrer </button>
<button id="remove" style="color:#C22F2F"><i class="fas fa-trash-alt"></i> Supprimer </button></center>
</div>
{% endblock %}

{% block ZoneGaucheSaisiesContraintesHebdos %}
</br>
{% include 'formulaireTit-contraintesHebdo-CarteHautGauche.html.twig' %}
</br>
{% include 'formulaireTit-contraintesHebdo-CarteBasGauche.html.twig'%}
{% endblock %}

{% block ZoneDroiteSaisiesContraintesHebdos %}

<div id="main">
  {{ formulaireTitulaire.texteHebdomadaire }}
</br>
<div id='hebdo'></div>
</br>
<form>
  <div class="form-group">
    <label for="remarquesHebdo">Remarques :</label>
    <textarea class="form-control" id="remarquesHebdo" rows="3">{{remarqueH}}</textarea>
  </div>
</form>

</br>


<center>
  <button class="btn-primary" id="submit">
    <i class="far fa-save"></i>{{ button_label|default(' Enregistrer toute ma saisie ') }}</button>
  </center>
  </div>
{% endblock %}

{% block ZoneGaucheSaisiesContraintesPonctuelles %}
{% endblock %}

{% block ZoneCentreSaisiesContraintesPonctuelles %}



<div id="main">
  {{ formulaireTitulaire.textePonctuel }}
</br>
<div id='mensuel'></div>
</br>
<form>
  <div class="form-group">
    <label for="remarquesPonctu">Remarques :</label>
    <textarea class="form-control" id="remarquesPonctu" rows="3">{{remarqueP}}</textarea>
  </div>
</form>

<center>


  <button class="btn-primary" id="submit2" style="display: none;">
    <i class="far fa-save"></i>{{ button_label|default(' Enregistrer ') }}</button>
  </center>

</div>
{% endblock %}

{% block GroupementEnseignement %}
</br>
<div class="card">
  <h5 class="card-header">
    <center>
      Groupement de vos enseignements
    </center>
  </h5>
  <div class="card-body">
    <form>
    <div class="form-group">
     <label for="exampleFormControlSelect1"> Groupement des enseignements </label>
     <select class="form-control" id="exampleFormControlSelect1">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
   </div>
     </form>
  </div>
  <div class="card-footer">
    <center>
      <button class="btn-primary" id="submit3" style="display: none;">
        <i class="far fa-save"></i>{{ button_label|default(' Enregistrer ') }}</button>
      </center>
    </div>
  </div>
{% endblock %}





{% block javascripts %}

{{ parent() }}
<script>






function enregistrerDesRemarques(contenuRemarque1 , typeRemarque1 , contenuRemarque2, typeRemarque2, enseignant) {
  $.ajax({
    url: "{{path("remarque_ajouter")}}",
    data: {
      contenu1: contenuRemarque1,
      type1: typeRemarque1,
      contenu2: contenuRemarque2,
      type2: typeRemarque2,
      idEnseignant: enseignant,
    },
    type: "POST"
  });
}

function supprimerDesRemarques(enseignant) {
  $.ajax({
    url: "{{path("suppr_remarque")}}",
    data: {
      idEnseignant: enseignant,
    },
    type: "POST"
  });
}


function supprimerDesCreneaux(type, enseignant="") {
  $.ajax({
    url: "{{path("suppr_creneaux")}}",
    data: {
      typeCreneau: type,
      idEnseignant: enseignant,
    },
    type: "POST"
  });
}


function envoyerLogHebdo(deltaRemarqueHebdo, deltaCreneauxHebdo,enseignant) {
  $.ajax({
    url: "{{path("set_log_enseignant_hebdo")}}",
    data: {
      tabDeltaRemarqueHebdo: deltaRemarqueHebdo,
      tabDeltaCreneauxHebdo: deltaCreneauxHebdo,
      idEnseignant: enseignant,

    },
    type: "POST"
  });
}

function envoyerLogPonctu(deltaRemarquePonctu, deltaCreneauxPonctu,enseignant) {
  $.ajax({
    url: "{{path("set_log_enseignant_ponctu")}}",
    data: {
      tabDeltaRemarquePonctu: deltaRemarquePonctu,
      tabDeltaCreneauxPonctu: deltaCreneauxPonctu,
      idEnseignant: enseignant,

    },
    type: "POST"
  });
}

//déterminer la couleur du fond de l'événement à utiliser en fonction du bouton radio coché
function detFond() {
  if (document.getElementById('proForte').checked) {
    fond = "#D35400";
  } else if (document.getElementById('proMoy').checked) {
    fond = "#F39C12";
  } else if (document.getElementById('proFaible').checked) {
    fond = "#F1C40F";
  } else if (document.getElementById('persForte').checked) {
    fond = "#2471A3";
  } else if (document.getElementById('persMoy').checked) {
    fond = "#3498DB";
  } else if (document.getElementById('persFaible').checked) {
    fond = "#AED6F1";
  }
  return fond;
}

function detPrio() {
  if (document.getElementById('proForte').checked || document.getElementById('persForte').checked) {
    prio = 'Forte';
  } else if (document.getElementById('proMoy').checked || document.getElementById('persMoy').checked) {
    prio = 'Moyenne';
  } else if (document.getElementById('proFaible').checked || document.getElementById('persFaible').checked) {
    prio = 'Faible';
  }
  return prio;
}

function detTexteCouleur() {
  if (document.getElementById('proForte').checked || document.getElementById('persForte').checked) {
    couleurTexte = "white";
  } else {
    couleurTexte = "black";
  }
  return couleurTexte;
}

function detType() {
  if (document.getElementById('proForte').checked || document.getElementById('proMoy').checked || document.getElementById('proFaible').checked) {
    type = 'ContraintePro';
  } else if (document.getElementById('persForte').checked || document.getElementById('persMoy').checked || document.getElementById('persFaible').checked) {
    type = 'ContraintePerso';
  }
  return type;
}
function tempsParDefaut(){
  var defaultTime;
  var date;
  if(document.getElementById('proForte').checked) {
    defaultTime = {{formulaireTitulaire.dureeProForte}};
  }
  else if(document.getElementById('proMoy').checked) {
    defaultTime = {{formulaireTitulaire.dureeProMoy}};
  }
  else if(document.getElementById('proFaible').checked) {
    defaultTime = {{formulaireTitulaire.dureeProFaible}};
  }
  else if(document.getElementById('persForte').checked) {
    defaultTime = {{formulaireTitulaire.dureePersForte}};
  }
  else if(document.getElementById('persMoy').checked) {
    defaultTime = {{formulaireTitulaire.dureePersMoy}};
  }
  else if(document.getElementById('persFaible').checked) {
    defaultTime = {{formulaireTitulaire.dureePersFaible}};
  }
  date = defaultTime.toString().minsToHHMMSS();
  return date;
}
String.prototype.minsToHHMMSS = function() {
  var mins_num = parseFloat(this, 10); // don't forget the second param
  var hours = Math.floor(mins_num / 60);
  var minutes = Math.floor((mins_num - ((hours * 3600)) / 60));
  var seconds = Math.floor((mins_num * 60) - (hours * 3600) - (minutes * 60));
  // Appends 0 when unit is less than 10
  if (hours < 10) {
    hours = "0" + hours;
  }
  if (minutes < 10) {
    minutes = "0" + minutes;
  }
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  return hours + ':' + minutes + ':' + seconds;
}

Date.prototype.addMinutes = function(m) {
  this.setTime(this.getTime() + (m*60*1000));
  return this;
}


function openNav() {
  document.getElementById("mySidenav").style.width = "350px";
  document.getElementById("main").style.marginRight = "350px";

}
/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight = "0";
}
var compteur = {
  ContraintePro : {
    proForte: 0,
    proMoy: 0,
    proFaible: 0
  },
  ContraintePerso : {
    persoForte: 0,
    persoMoy: 0,
    persoFaible: 0
  }
};
var limiteProForte = {{formulaireTitulaire.quantiteProForte}};
var limiteProMoy = {{formulaireTitulaire.quantiteProMoy}};
var limiteProFaible = {{formulaireTitulaire.quantiteProFaible}};
var limitePersForte = {{formulaireTitulaire.quantitePersForte}};
var limitePersMoy = {{formulaireTitulaire.quantitePersMoy}};
var limitePersFaible = {{formulaireTitulaire.quantitePersFaible}};



function limiteDepassee(){
  var res = false;
  if( document.getElementById('proForte').checked) {
    if(compteur.ContraintePro.proForte >= limiteProForte )
    {
      res = true;
    }
  }
  else if(document.getElementById('proMoy').checked) {
    if(compteur.ContraintePro.proMoy >= limiteProMoy )
    {
      res = true;
    }
  }
  else if(document.getElementById('proFaible').checked) {
    if(compteur.ContraintePro.proFaible >= limiteProFaible )
    {
      res = true;
    }
  }
  else if(document.getElementById('persForte').checked) {
    if(compteur.ContraintePerso.persoForte >= limitePersForte )
    {
      res = true;
    }
  }
  else if(document.getElementById('persMoy').checked) {
    if(compteur.ContraintePerso.persoMoy >= limitePersMoy )
    {
      res = true;
    }
  }
  else if(document.getElementById('persFaible').checked) {
    if(compteur.ContraintePerso.persoFaible >= limitePersFaible )
    {
      res = true;
    }
  }
  return res;
}


var titrevide = "{{formulaireTitulaire.autoriserTitreVideContraintePerso}}";
var saisieEnseignant= true; //Active le code permettant d'enregistrer et de supprimer les créneaux pour un enseignant donné
var modifications = false; //Active le drag and drop des événements, à désactiver pour les vues de saisie puisque la durée d'un événement ne doit pas être modifiable
var echelle = "{{formulaireTitulaire.echelleCalendrier}}".minsToHHMMSS();
var heureDebut = "{{ formulaireTitulaire.heureDebutCalendrier|date("H:i:s")}}";
var heureFin = "{{formulaireTitulaire.heureFinCalendrier|date("H:i:s")}}";
var events = {{events|raw}};
var enseignant = {{enseignant.id}};
var eventsMensuel = {{eventsMensuel|raw}};
var lien = "{{lien}}";
var remarquePonctu = "{{remarqueP}}";
var remarqueHebdo = "{{remarqueH}}";
//var creneauxEnseignantSansGrisee = {eventsSansGrisee|raw}};
var estFormulaireTitulaire = true;

function enregistrerDesCreneaux(tab) {
  $.ajax({
    url: "{{path("creneau_ajouter")}}",
    data: {
      tab: tab
    },
    type: "POST",
    success: function(){
      window.location.href = lien;
    }
  });
}


</script>
{% endblock %}
