{% extends 'baseEnseignant.html.twig' %}


{% block title %}Disponibilités EDT - IUT Bayonne {% endblock %}

{% block enTete %}

<div class="jumbotron" style="height : 230px">
  <h1 class="display-4">{{enseignant.prenom}} {{enseignant.nom}}</h1>
  <p class="lead">Contraintes d'emploi du temps pour l'année universitaire {{formulaireVacataire.anneeUniversitaire}} à l'IUT de Bayonne</p>
  <hr class="my-4">
</div>

{% endblock %}

{% block sideNav %}
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" id="close">&times;</a>
    <center><h5 id="nomcreneau">Description</h5><textarea type="text" name="titre" id="titrevt" style="width: 280px; rows: 50"></textarea>
  </br>
  <p id="type"></p>
  <p id="prio"></p>
</br>
    <p id="dateDebut"></p>
    <p id="dateFin"></p>
</br>
    <button id="apply"><i class="far fa-save"></i> Enregistrer </button>
    <button id="remove" style="color:#C22F2F"><i class="fas fa-trash-alt"></i> Supprimer </button></center>
  </div>
{% endblock %}

{% block ZoneGaucheSaisiesContraintesHebdos %}
</br>
  {% include 'formulaireVac-contraintesHebdo-CarteHautGauche.html.twig'%}

{% endblock %}

{% block ZoneDroiteSaisiesContraintesHebdos %}

<div id="main">
  {{ formulaireVacataire.texteHebdomadaire }}
  </br>
  <div id='hebdo'></div>
</br>
<form>
  <div class="form-group">
    <label for="remarquesHebdo" id="texteRemarquesHebdo">Remarques :</label>
    <textarea class="form-control" id="remarquesHebdo" rows="3">{{remarqueH}}</textarea>
  </div>
</form>
</br>

<div class="card">
<h5 class="card-header">
  <center>
    Groupement de mes enseignements
  </center>
</h5>
<div class="card-body">
  <form>
  <div class="form-group">
   <select class="form-control" id="regroupement">
     <option value="Indifferent">Indifférent</option>
     <option value="Regroupes">Regrouper</option>
     <option value="Non regroupes">Ne pas grouper</option>

   </select>
  </div>
   </form>
</div>
<div class="card-footer">
  <center>
    <button class="btn-primary" id="submit3" style="display: none;">
      <i class="far fa-save"></i>{{ button_label|default(' Enregistrer ') }}</button>
  </center>

</div>
</div>
</br>


</div>
{% endblock %}

{% block ZoneGaucheSaisiesContraintesPonctuelles %}
{% endblock %}

{% block ZoneCentreSaisiesContraintesPonctuelles %}
<div id="main">
  {{ formulaireVacataire.textePonctuel }}
  </br>
</br>
  <div id='mensuel'></div>
  </br>
  <form>
    <div class="form-group">
      <label for="remarquesPonctu" id="texteRemarquesPonctu" >Remarques :</label>
      <textarea class="form-control" id="remarquesPonctu" rows="3">{{remarqueP}}</textarea>
    </div>
  </form>
  </br>
  <center>
  <button class="btn-primary" id="submit2" style="display: none;">
    <i class="far fa-save"></i>{{ button_label|default(' Enregistrer ') }}</button>
  </center>
</div>
{% endblock %}

{% block GroupementEnseignement %}

{% endblock %}


{% block javascripts %}

{{ parent() }}
<script>

var lien = "{{lien}}";

function changerRegroupementEnseignements(reponse,enseignant){
  $.ajax({
    url: "{{path("changer_regroupement")}}",
    data: {
      reponse: reponse,
      idEnseignant: enseignant,
    },
    type: "POST",
    success: function(){
        window.location.href = lien;
      }
  });
}

function enregistrerDesCreneaux(tab) {
  $.ajax({
    url: "{{path("creneau_ajouter")}}",
    data: {
      tab: tab
    },
    type: "POST"

  });
}

function enregistrerDesRemarques(contenuRemarque1 , typeRemarque1 , contenuRemarque2, typeRemarque2, enseignant) {
  $.ajax({
    url: "{{path("remarque_ajouter")}}",
    data: {
      contenu1: contenuRemarque1,
      type1: typeRemarque1,
      contenu2: contenuRemarque2,
      type2: typeRemarque2,
      idEnseignant: enseignant,
    },
    type: "POST"
  });
}



function supprimerDesRemarques(enseignant) {
  $.ajax({
    url: "{{path("suppr_remarque")}}",
    data: {
      idEnseignant: enseignant,
    },
    type: "POST"
  });

}

function supprimerDesCreneaux(type, enseignant="") {
  $.ajax({
    url: "{{path("suppr_creneaux")}}",
    data: {
      typeCreneau: type,
      idEnseignant: enseignant,
    },
    type: "POST"
  });
}


function envoyerLogHebdo(deltaRemarqueHebdo, deltaCreneauxHebdo,enseignant) {
  $.ajax({
    url: "{{path("set_log_enseignant_hebdo")}}",
    data: {
      tabDeltaRemarqueHebdo: deltaRemarqueHebdo,
      tabDeltaCreneauxHebdo: deltaCreneauxHebdo,
      idEnseignant: enseignant,

    },
    type: "POST"
  });
}

function envoyerLogPonctu(deltaRemarquePonctu, deltaCreneauxPonctu,enseignant) {
  $.ajax({
    url: "{{path("set_log_enseignant_ponctu")}}",
    data: {
      tabDeltaRemarquePonctu: deltaRemarquePonctu,
      tabDeltaCreneauxPonctu: deltaCreneauxPonctu,
      idEnseignant: enseignant,

    },
    type: "POST"
  });
}

//déterminer la couleur du fond de l'événement à utiliser en fonction du bouton radio coché
function detFond() {
  if (document.getElementById('Forte').checked) {
    fond = "#D35400";
  } else if (document.getElementById('Moyenne').checked) {
    fond = "#F39C12";
  } else if (document.getElementById('Faible').checked) {
    fond = "#F1C40F";
  }
  return fond;
}

function detPrio() {
  if (document.getElementById('Forte').checked) {
    prio = 'Forte';
  } else if (document.getElementById('Moyenne').checked) {
    prio = 'Moyenne';
  } else if (document.getElementById('Faible').checked) {
    prio = 'Faible';
  }
  return prio;
}

function detTexteCouleur() {
  if (document.getElementById('Forte').checked ) {
    couleurTexte = "white";
  } else {
  couleurTexte = "black";
  }
  return couleurTexte;
}

function detType() {

  return "Disponibilite";
}




String.prototype.minsToHHMMSS = function() {
  var mins_num = parseFloat(this, 10); // don't forget the second param
  var hours = Math.floor(mins_num / 60);
  var minutes = Math.floor((mins_num - ((hours * 3600)) / 60));
  var seconds = Math.floor((mins_num * 60) - (hours * 3600) - (minutes * 60));
  // Appends 0 when unit is less than 10
  if (hours < 10) {
    hours = "0" + hours;
  }
  if (minutes < 10) {
    minutes = "0" + minutes;
  }
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  return hours + ':' + minutes + ':' + seconds;
}

Date.prototype.addMinutes = function(m) {
  this.setTime(this.getTime() + (m*60*1000));
  return this;
}


function openNav() {
  document.getElementById("mySidenav").style.width = "350px";
  document.getElementById("main").style.marginRight = "350px";
}
/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginRight = "0";
}
var compteur = {
  ContraintePro : {
    proForte: 0,
    proMoy: 0,
    proFaible: 0
  },
  ContraintePerso : {
    persoForte: 0,
    persoMoy: 0,
    persoFaible: 0
  }
};


var saisieEnseignant= true; //Active le code permettant d'enregistrer et de supprimer les créneaux pour un enseignant donné
var echelle = "{{formulaireVacataire.echelleCalendrier}}".minsToHHMMSS();
var heureDebut = "{{ formulaireVacataire.heureDebutCalendrier|date("H:i:s")}}";
var heureFin = "{{formulaireVacataire.heureFinCalendrier|date("H:i:s")}}";
var events = {{events|raw}};
var enseignant = {{enseignant.id}};
var eventsMensuel = {{eventsMensuel|raw}};
var titrevide = true;
var remarquePonctu = "{{remarqueP}}";
var remarqueHebdo = "{{remarqueH}}";
var estFormulaireTitulaire = false;
var creneauxEnseignantSansGrisee = {{eventsSansGrisee|raw}};
var remarqueActiveHebdo = "{{ formulaireVacataire.remarquesHebdoActives }}";
var remarqueActivePonctu = "{{ formulaireVacataire.remarquesPonctuelActives }}";


if(remarqueActiveHebdo != true){
  document.getElementById("remarquesHebdo").style.display = "none";
  document.getElementById("texteRemarquesHebdo").style.display = "none";
}

if(remarqueActivePonctu != true){
  document.getElementById("remarquesPonctu").style.display = "none";
  document.getElementById("texteRemarquesPonctu").style.display = "none";
}

</script>
{% endblock %}
