{% extends 'base.html.twig' %}

{% block title %}Paramètres généraux des formulaires{% endblock %}

{% block stylesheets %}

  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/fullcalendarstyle.css') }}" rel="stylesheet"/>

  <link href="{{ asset('fullcalendar/packages/core/main.css') }}" rel='stylesheet'/>
  <link href="{{ asset('fullcalendar/packages/timegrid/main.css') }}" rel='stylesheet'/>
  <link href="{{ asset('fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet'/>
  <link href="{{ asset('fullcalendar/packages/bootstrap/main.css') }}" rel='stylesheet'/>

  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-toward.css"/>
  <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>

{% endblock %}

{% block body %}

  <div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" id="close">&times;</a>
    <p id="nomcreneau">Nom du creneau</p>
    <input type="text" name="titre" id="titrevt">
    <button id="apply">Appliquer le titre</button>
    <button id="remove">Supprimer ce créneau</button>
  </div>

  <div id="main">
    <div id='calendar'></div>
  </br>
  <center>
    <button class="btn btn-primary" id="submit">Enregistrer les modifications</button>
  </center>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

<script src="{{ asset('fullcalendar/packages/core/main.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/daygrid/main.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/timegrid/main.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/core/main.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/core/locales/fr.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/interaction/main.js')}}"></script>
<script src="{{ asset('fullcalendar/packages/bootstrap/main.js')}}"></script>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

<script>

  String.prototype.minsToHHMMSS = function() {
    var mins_num = parseFloat(this, 10); // don't forget the second param
    var hours = Math.floor(mins_num / 60);
    var minutes = Math.floor((mins_num - ((hours * 3600)) / 60));
    var seconds = Math.floor((mins_num * 60) - (hours * 3600) - (minutes * 60));

    // Appends 0 when unit is less than 10
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";

  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight = "0";
  }

  var events;
  function ajax(start, end, title, type) {

    $.ajax({
      url: "{{path("creneau_ajouter")}}",
      data: {
        startevt: start,
        endevt: end,
        titleevt: title,
        typeevt: type
      }, //données envoyées au serveur pour chaque événement
      type: "POST"
    });
  }
  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

      plugins: [
        'timeGrid', 'interaction', 'bootstrap'
      ],
      defaultView: 'timeGridWeek',
      themeSystem: 'bootstrap',
      contentHeight: "auto",
      allDaySlot: false,
      slotDuration: '{{ echelle }}'.minsToHHMMSS(),
      slotLabelInterval: '{{ echelle }}'.minsToHHMMSS(),
      minTime: '{{ heureDebut|date("H:i:s")}}',
      maxTime: '{{ heureFin|date("H:i:s")}}',
      weekNumberCalculation: "ISO",
      weekends: false,
      selectable: true,
      events: {{ events|raw  }},
      columnHeaderFormat: {
        weekday: 'long'
      },
      editable: true,
      locale: 'fr',
      header: {
        left: '',
        center: '',
        right: ''
      },

      select: function(arg) {

        closeNav();
        var title = prompt('Titre de la contrainte:');
        if (title) { // si un titre d'événement a été saisi et que la limite d'événement autorisés n'a pas été dépassée
          calendar.addEvent({title: title, start: arg.start, end: arg.end, classNames: ['plusBord']})
        }

        calendar.unselect();
        calendar.getEvents().forEach(event => {
          event.setProp("borderColor", "white");
        });
      },
      eventRender: function(info) {
        var dateDeb = calendar.formatDate(info.event.start, {
          weekday: 'long',
          hour: '2-digit',
          minute: '2-digit',
          locale: 'fr'
        });
        var dateFin = calendar.formatDate(info.event.end, {
          weekday: 'long',
          hour: '2-digit',
          minute: '2-digit',
          locale: 'fr'
        });
        var contenu = "Titre : " + info.event.title + "</br>Début : " + dateDeb + "</br>Fin : " + dateFin;

        var tooltip = new tippy(info.el, {
          allowHTML: true,
          content: contenu,
          trigger: 'mouseenter',
          sticky: true,
          animation: 'shift-toward',
          maxWidth: 200
        });

      },
      eventClick: function(info) {
        calendar.getEvents().forEach(event => {
          event.setProp("borderColor", "white");
        });
        document.getElementById('nomcreneau').innerHTML = "Contrainte " + info.event.title;
        document.getElementById('titrevt').value = info.event.title;
        info.event.setProp("borderColor", "red");

        document.getElementById('apply').onclick = function() {
          if (document.getElementById('titrevt').value != '') {
            info.event.setProp("title", document.getElementById('titrevt').value);
            document.getElementById("nomcreneau").innerHTML = "Contrainte " + info.event.title;
            calendar.rerenderEvents();
          }

        };
        document.getElementById('remove').onclick = function() {
          if (confirm("Voulez vous vraiment supprimer ce créneau ?")) {
            info.event.remove();
          }
          closeNav();
        };
        document.getElementById('close').onclick = function() {
          closeNav();
          info.event.setProp("borderColor", "white");
        };
        openNav();
      }

    });

    document.getElementById('submit').onclick = function() {
      events = calendar.getEvents(); //on récupère tous les événements du calendrier sous forme d'un tableau
      events.forEach(event => ajax(event.start.toISOString(), event.end.toISOString(), event.title, "zoneGrisee")); //pour chaque élément du tableau, c'est à dire pour chaque événement, on envoie sa date de début, sa date de fin et son titre au serveur
    };

    calendar.render();

  });
</script>

{% endblock %}
