{% extends 'baseResume.html.twig' %}


{% block title %}Résumé de la saisie{% endblock %}

{% block enTete %}
<div class="jumbotron" style="height : 230px">
  <h1 class="display-4">{{enseignant.prenom}} {{enseignant.nom}}</h1>
  <p class="lead">Résumé de votre saisie</p>
  <hr class="my-4">
</div>
{% endblock %}

{% block contenu %}

<h5>Vos contraintes hebdomadaires </h5>
{% if events == "[]" %}
  Vous n'avez saisi aucune contrainte hebdomadaire
{% else %}
<div id="hebdo">
</div>
{% endif %}


<br/>
<h5>Remarques concernant vos contraintes hebdomadaires </h5>

<p>
{% if remarqueH | trim | length > 0 %}
{{remarqueH|nl2br}}
{% else %}
Aucune remarque.
{% endif %}

</p>
<br/>

<h5>Regroupement des enseignements</h5>
<p>
{% if regrouperEnseignements == "Indifferent" %}
Vous avez indiqué être indifférent au regroupement ou pas de vos enseignements.
{% elseif regrouperEnseignements == "Regroupes" %}
Vous préférez que vos enseignements soient groupés.
{% elseif regrouperEnseignements == "Non regroupes" %}
Vous préférez que vos enseignements soient étalés.
{% endif %}
</p>

<br/>
<h5>Vos contraintes ponctuelles</h5>
{% if eventsListe == "[]" %}
  Vous n'avez saisi aucune contrainte ponctuelle.
{% else %}
<div id="liste">
</div>
{% endif %}
<br/>
<br/>
<br/>
<h5>Remarques concernant vos contraintes ponctuelles</h5>
<p>
{% if remarqueP | trim | length > 0 %}
{{remarqueP|nl2br}}
{% else %}
Aucune remarque.
{% endif %}
</p>
<br/>

<center>
  <button class="btn-primary" id="retour-saisie"><i class="fas fa-arrow-circle-left"></i> Retour à la saisie</button>
  <a href="{{ path('mailResume', { 'id': enseignant.id }) }}">
    <button class="btn-primary">
      <i class="far fa-envelope"></i> M'envoyer une copie par mail</button>
  </a>
</center>
<br/><br/>
{% endblock %}

{% block javascripts %}

{{ parent() }}
<script>

String.prototype.minsToHHMMSS = function() {
  var mins_num = parseFloat(this, 10);
  var hours = Math.floor(mins_num / 60);
  var minutes = Math.floor((mins_num - ((hours * 3600)) / 60));
  var seconds = Math.floor((mins_num * 60) - (hours * 3600) - (minutes * 60));

  if (hours < 10) {
    hours = "0" + hours;
  }
  if (minutes < 10) {
    minutes = "0" + minutes;
  }
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  return hours + ':' + minutes + ':' + seconds;
}



var events = {{events|raw}};
var eventsListe = {{eventsListe|raw}};
var heureDebut = "{{heureDebut|date("H:i:s")}}";
var heureFin = "{{heureFin|date("H:i:s")}}";
var echelle = "{{echelle}}".minsToHHMMSS();

document.getElementById('retour-saisie').onclick = function() {window.location.href = "{{lien}}";};



</script>
{% endblock %}
