{% extends 'baseResume.html.twig' %}


{% block title %}Résumé de la saisie{% endblock %}

{% block enTete %}
<div class="jumbotron" style="height : 230px">
  <h1 class="display-4">{{enseignant.prenom}} {{enseignant.nom}}</h1>
  <p class="lead">Résumé de votre saisie</p>
  <hr class="my-4">
</div>
{% endblock %}

{% block contenu %}
<h2>Vos contraites hebdomadaires : </h2>
{% if events == "[]" %}
  Vous n'avez saisi aucune contrainte hebdomadaire
{% else %}
<div id="hebdo">
</div>
{% endif %}
<br/>
<p>
{% if remarqueH != "" %}
Vos remarques pour les contraintes hebdomadaires: {{remarqueH}}
{% else %}
Vous n'avez saisi aucune remarque pour vos contraintes hebdomadaires
{% endif %}

</p>
<br/>
<p>

{% if regrouperEnseignements == "Indifferent" %}
Vous avez indiqué être indifférent au regroupement de vos enseignements
{% elseif regrouperEnseignements == "Regroupes" %}
Vous préférez que vos enseignements soient regroupés
{% elseif regrouperEnseignements == "Non regroupes" %}
Vous préférez que vos enseignements ne soient pas groupés
{% endif %}
</p>

<br/>
<h2>Vos contraites ponctuelles : </h2>
{% if eventsListe == "[]" %}
<center>
  Vous n'avez saisi aucune contrainte ponctuelle
</center>
{% else %}
<div id="liste">
</div>
{% endif %}
<br/>

<p>
{% if remarqueP != "" %}
Vos remarques pour les contraintes ponctuelles :
{{remarqueP}}
{% else %}
Vous n'avez saisi aucune remarque pour vos contraintes ponctuelles
{% endif %}
</p>
<br/>

<center>
  <button class="btn-primary" id="retour-saisie"><i class="fas fa-arrow-circle-left"></i> Retour à la saisie</button>
  <a href="{{ path('mailResume', { 'id': enseignant.id }) }}">
    <button class="btn-primary">
      <i class="far fa-envelope"></i>M'envoyer une copie par mail</button>
  </a>
</center>

{% endblock %}

{% block javascripts %}

{{ parent() }}
<script>

String.prototype.minsToHHMMSS = function() {
  var mins_num = parseFloat(this, 10);
  var hours = Math.floor(mins_num / 60);
  var minutes = Math.floor((mins_num - ((hours * 3600)) / 60));
  var seconds = Math.floor((mins_num * 60) - (hours * 3600) - (minutes * 60));

  if (hours < 10) {
    hours = "0" + hours;
  }
  if (minutes < 10) {
    minutes = "0" + minutes;
  }
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  return hours + ':' + minutes + ':' + seconds;
}



var events = {{events|raw}};
var eventsListe = {{eventsListe|raw}};
var heureDebut = "{{heureDebut|date("H:i:s")}}";
var heureFin = "{{heureFin|date("H:i:s")}}";
var echelle = "{{echelle}}".minsToHHMMSS();

document.getElementById('retour-saisie').onclick = function() {window.location.href = "{{lien}}";};



</script>
{% endblock %}
