{% extends 'base.html.twig' %}

{% block title %}Creneau{% endblock %}

{% block body %}
    <h1>Creneau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creneau.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ creneau.titre }}</td>
            </tr>
            <tr>
                <th>PrioOuPref</th>
                <td>{{ creneau.prioOuPref }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ creneau.dateDebut ? creneau.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ creneau.dateFin ? creneau.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ creneau.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creneau_index') }}">back to list</a>

    <a href="{{ path('creneau_edit', {'id': creneau.id}) }}">edit</a>

    {{ include('creneau/_delete_form.html.twig') }}
{% endblock %}
