{% extends 'base.html.twig' %}

{% block title %}Formulaire index{% endblock %}

{% block body %}
    <h1>Formulaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EchelleCalendrier</th>
                <th>TexteHebdomadaire</th>
                <th>TextePonctuel</th>
                <th>RemarquesHebdoActives</th>
                <th>RemarquesPonctuelActives</th>
                <th>EstOuvert</th>
                <th>QuantiteProForte</th>
                <th>QuantiteProMoy</th>
                <th>QuantiteProFaible</th>
                <th>QuantitePersForte</th>
                <th>QuantitePersMoy</th>
                <th>QuantitePersFaible</th>
                <th>DureeProForte</th>
                <th>DureeProMoy</th>
                <th>DureeProFaible</th>
                <th>DureePersForte</th>
                <th>DureePersMoy</th>
                <th>DureePersFaible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire in formulaires %}
            <tr>
                <td>{{ formulaire.id }}</td>
                <td>{{ formulaire.echelleCalendrier }}</td>
                <td>{{ formulaire.texteHebdomadaire }}</td>
                <td>{{ formulaire.textePonctuel }}</td>
                <td>{{ formulaire.remarquesHebdoActives ? 'Yes' : 'No' }}</td>
                <td>{{ formulaire.remarquesPonctuelActives ? 'Yes' : 'No' }}</td>
                <td>{{ formulaire.estOuvert ? 'Yes' : 'No' }}</td>
                <td>{{ formulaire.quantiteProForte }}</td>
                <td>{{ formulaire.quantiteProMoy }}</td>
                <td>{{ formulaire.quantiteProFaible }}</td>
                <td>{{ formulaire.quantitePersForte }}</td>
                <td>{{ formulaire.quantitePersMoy }}</td>
                <td>{{ formulaire.quantitePersFaible }}</td>
                <td>{{ formulaire.dureeProForte }}</td>
                <td>{{ formulaire.dureeProMoy }}</td>
                <td>{{ formulaire.dureeProFaible }}</td>
                <td>{{ formulaire.dureePersForte }}</td>
                <td>{{ formulaire.dureePersMoy }}</td>
                <td>{{ formulaire.dureePersFaible }}</td>
                <td>
                    <a href="{{ path('formulaire_show', {'id': formulaire.id}) }}">show</a>
                    <a href="{{ path('formulaire_edit', {'id': formulaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formulaire_new') }}">Create new</a>
{% endblock %}
