{% extends 'base.html.twig' %}

{% block title %}Remarque index{% endblock %}

{% block body %}
    <h1>Remarque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remarque in remarques %}
            <tr>
                <td>{{ remarque.id }}</td>
                <td>{{ remarque.contenu }}</td>
                <td>{{ remarque.type }}</td>
                <td>
                    <a href="{{ path('remarque_show', {'id': remarque.id}) }}">show</a>
                    <a href="{{ path('remarque_edit', {'id': remarque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('remarque_new') }}">Create new</a>
{% endblock %}
