{% extends 'base.html.twig' %}

{% block title %}Résumé envoi mail{% endblock %}

{% block body %}
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        <center>
          <i class="far fa-envelope"></i>
          <strong>Résumé du mail</strong>
        </center>
      </h5>
      <div class="card-body">
        <p class="card-text">

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <h5 class="card-header">
                  <center>
                    <i class="fas fa-bullseye"></i>
                    Cible du mail
                  </center>
                </h5>
                <div class="card-body">
                  <p class="card-text"></br>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Type de mail :</th>
                        <td>{{ data['nom'] }}</td>
                      </tr>
                      <tr>
                        <th>Enseignant intervenant en :</th>
                        {% if tabFormation | length > 1 %}
                          <td>{{ tabFormation[0] }}
                            -
                            {{ tabFormation[1] }}</td>
                        {% else %}
                          <td>{{ tabFormation[0] }}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        <th>Enseignant ayant le statut de :</th>
                          {% if tabStatut == "Titulaire" %}
                            <td>Titulaire</td>
                          {% else %}
                            {% if tabStatut == "Vacataire" %}
                              <td>Vacataire</td>
                            {% else %}
                              {% if tabStatut == "Tous les statuts" %}
                                <td>Tous les statuts</td>
                                {% endif %}
                            {% endif %}
                          {% endif %}
                        </tr>

                      <tr>
                        <th>Saisie effectuée :</th>
                        {% if tabSaisie == "Toutes les saisies" %}
                          <td>Toutes les saisies</td>
                        {% else %}
                          {% if tabSaisie == 'false' %}
                            <td>Non <font color="orange"><i class="far fa-times-circle"></i></font></td>
                          {% else %}
                          {% if tabSaisie == 'true' %}
                            <td>Oui <font color="green"><i class="far fa-check-circle" ></i></font></td>
                          {% endif %}
                          {% endif %}
                        {% endif %}
                      </tr>

                      <tr>
                      <th>Mail de relance envoyé :</th>
                      {% if tabMailRelanceRecu == "Toutes les relances" %}
                        <td>Toutes les relances</td>
                      {% else %}
                        {% if tabMailRelanceRecu == 'false' %}
                          <td>Non <font color="orange"><i class="far fa-times-circle"></i></font></td>
                        {% else %}
                        {% if tabMailRelanceRecu == 'true' %}
                          <td>Oui <font color="green"><i class="far fa-check-circle" ></i></font></td>
                          {% endif %}
                          {% endif %}
                        {% endif %}
                      </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <h5 class="card-header">
              <center>
                <i class="far fa-envelope"></i>
                Contenu du mail
              </center>
            </h5>
            <div class="card-body">
              <p class="card-text"></br>
              Objet :
              {{ modeleMail.sujet}}
            </br>
          </br>
          {{ modeleMail.contenu | nl2br }}
        </p>
      </div>
    </div>
  </div>
</div>
</br>

<div class="card">
  <h5 class="card-header">
    <center>
      <i class="fas fa-users"></i>
      Liste des destinataires
    </center>
  </h5>
  <div class="card-body">
    <p class="card-text"></br>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>Mail</th>
            <th>Formations</th>
            <th>Saisie</th>
            <th>Date de la saisie</th>
            <th>Mail de relance envoyé ?</th>
            <th>Date de la dernière relance</th>
            <th>Nombre de relances</th>
          </tr>
        </thead>
        <tbody>
          {% for enseignantCourant in enseignants %}
            <tr>
              <td>
                {{ enseignantCourant.nom }}</td>
              <td>
                {{ enseignantCourant.prenom }}</td>
              <td>
                {{ enseignantCourant.statut }}</td>
              <td>{{ enseignantCourant.mail }}</td>
              <td>
                {% for formation in enseignantCourant.formations %}

                  {% if loop.length > 1 %}
                    {% if loop.last %}{{formation}}
                    {% else %}
                      {{formation}}
                      -
                    {% endif %}

                  {% else %}
                    {{formation}}
                  {% endif %}

                {% endfor %}
              </td>
              <td>
                {% if enseignantCourant.saisieFaite == true %}
                  Saisie effectuée <font color="green"><i class="far fa-check-circle" ></i></font>
                {% else %}
                  Saisie non effectuée <font color="orange"><i class="far fa-times-circle"></i></font>
                {% endif %}

              </td>
              <td>
                {% if enseignantCourant.dateSaisie == null %}

                {% else %}
                {{enseignantCourant.dateSaisie|date("d/m/Y à H:i", "Europe/Paris")}}
                {% endif %}
              </td>
              </td>
              <td>
                {% if enseignantCourant.mailRelanceRecu == true %}
                  Oui <font color="green"><i class="far fa-check-circle" ></i></font>
                {% else %}
                  Non <font color="orange"><i class="far fa-times-circle"></i></font>
                {% endif %}

              </td>
              <td>
                {% if enseignantCourant.dateDerniereRelance == null %}

                {% else %}
                {{enseignantCourant.dateDerniereRelance|date("d/m/Y à H:i", "Europe/Paris")}}
                {% endif %}
              </td>
              <td>
                {{enseignantCourant.nbRelance}}
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="10">Aucun enseignant ciblé par ce mail</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </p>
</div>
<div class="card-footer">
  {% if enseignants is empty %}
    <center>
      <a href="{{ path('envoie_mail') }}">
        <button class="disabled" disabled="disabled">
          <i class="far fa-envelope"></i>
          Confirmer l'envoi du mail
        </button>
      </a>
    </center>
  {% else %}
    <center>
      <a href="{{ path('envoie_mail') }}">
        <button class="btn-primary">
          <i class="far fa-envelope"></i>
          Confirmer l'envoi du mail
        </button>
      </a>
    </center>
  {% endif %}
</div>
</div>

</p>
</div>

</div>
</div>

{% endblock %}
