{% extends 'base.html.twig' %}

{% block title %}Envoie Mail{% endblock %}

{% block body %}

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card">
                <h5 class="card-header">
                  <center>
                    <td>
                      <h4>
                        <i class="far fa-envelope"></i>
                        Envoie mail</h4>
                    </td>
                  </center>
                </h5>
                <div class="card-body">
                  <p class="card-text">
                    {{ form_start(form) }}
                     {{ form_row(form.nom) }}
                    <h6>Envoyer un mail à tous les enseignants respectant les critères suivants:</h6>
                    <p><em>
                      Exemple :</br>
                      Pour cibler un enseignant intervenant en DUT Informatique ayant n'importe quel statut, ayant fait sa saisie et ayant n'ayant pas recu un mail de relance : </br>
                                      - Cocher la case "DUT Info" </br>
                                      - Cocher les cases "Titulaire" et "Vacataire" </br>
                                      - Cocher la case "Une saisie effectuée" </br>
                                      - Cocher la case "N'ayant pas reçu de mail de relance"
                    </em></p>
                    {{ form_row(form.nomCourt) }}
                    {{ form_row(form.statut) }}
                    {{ form_row(form.saisieFaite) }}
                    {{ form_row(form.mailRelanceRecu) }}


                  </p>
                </div>
                <div class="card-footer">
                  <center>
                    <button class="btn-primary">
                      <i class="fas fa-pencil-alt"></i>{{ button_label|default(' Envoyer ') }}</button>
                  </center>
                  {{ form_end(form) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>

{% endblock %}
