{% extends 'base.html.twig' %}

{% block title %}Liste Modèle Mail{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>Les modèles de mail</h2>
      </center>
    </h5>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Sujet</th>
                <th>Contenu</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for modele_mail in modele_mails %}
                <tr>
                  <td>{{ modele_mail.nom|length > 50 ? modele_mail.nom|slice(0, 100) ~ '...' : modele_mail.nom }}
                  </td>
                  <td>{{ modele_mail.sujet|length > 50 ? modele_mail.sujet|slice(0, 100) ~ '...' : modele_mail.sujet }}
                  </td>
                  <td>{{ modele_mail.contenu|length > 100 ? modele_mail.contenu|slice(0, 100) ~ '...' : modele_mail.contenu }}
                  </td>
                  <td>
                    <center>
                      <a href="{{ path('modele_mail_show', {'id': modele_mail.id}) }}" style="text-decoration: none">
                        <i class="far fa-eye" title="Voir l'enseignant"></i>
                      </a>
                      <a href="{{ path('modele_mail_edit', {'id': modele_mail.id}) }}" style="text-decoration: none">
                        <i class="fas fa-pencil-alt" title="Modifier l'enseignant"></i>
                      </a>
                      <a href="{{ path('modele_mail_supprimer', {'id': modele_mail.id}) }}" style="text-decoration: none">
                        <i class="fas fa-trash-alt" title="Supprimer l'enseignant"></i>
                      </a>
                    </center>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="5">no records found</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </p>
  </div>
  <div class="card-footer">
    <center>
      <a href="{{ path('modele_mail_new') }}">
        <button class="btn-primary">
          <i class="fas fa-plus-circle"></i>
          Créer un nouveau modèle de mail</button>
      </a>
    </center>
  </div>
</div>

{% endblock %}
