{% extends 'base.html.twig' %}

{% block title %}Log
  {{log_enseignant.enseignant.nom}}
  {{log_enseignant.enseignant.prenom}}
{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>
          <i class="fas fa-user"></i>
          Log de
          {{log_enseignant.enseignant.nom}}
          {{log_enseignant.enseignant.prenom}}</h2>
        <center></h5>
        <div class="card-body">
          <p class="card-text">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="card">
                    <h5 class="card-header">
                      <center>
                        <td>
                          <h4>

                          </h4>
                        </td>
                      </center>
                    </h5>
                    <div class="card-body">
                      <p class="card-text">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th>Date du log</th>
                              <td>{{ log_enseignant.dateLog|date("d/m/Y à H:i") }}</td>
                            </tr>
                            <tr>
                              <th>Type d'action effectuée</th>
                              <td>{{ log_enseignant.typeAction }}</td>
                            </tr>
                            <tr>
                              <th>Zone</th>
                              <td>{{ log_enseignant.zone }}</td>
                            </tr>
                            <tr>
                              <th>Description </th>
                              <td>{{ log_enseignant.description|replace({'  ': ', '}) }}</td>
                            </tr>
                        </tbody>
                      </table>
                    </p>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </p>
      </div>
    </div>

  {% endblock %}
