{% extends 'base.html.twig' %}

{% block title %}Log
  {{logs_enseignant.0.enseignant.nom}}
  {{logs_enseignant.0.enseignant.prenom}}
{% endblock %}

{% block body %}

  <div class="card">
    <h5 class="card-header">
      <center>
        <h2>
          <i class="fas fa-user"></i>
          Log de
          {{logs_enseignant.0.enseignant.nom}}
          {{logs_enseignant.0.enseignant.prenom}}</h2>
        <center></h5>
        <div class="card-body">
          <p class="card-text">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                  {% for logCourant in logs_enseignant %}
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th>Date du log</th>
                                <td>{{ logCourant.dateLog|date("d/m/Y à H:i") }}</td>
                              </tr>
                              <tr>
                                <th>Type d'action effectuée</th>
                                <td>{{ logCourant.typeAction }}</td>
                              </tr>
                              <tr>
                                <th>Zone</th>
                                <td>{{ logCourant.zone }}</td>
                              </tr>
                              <tr>
                                <th>Description
                                </th>
                                <td>{{ logCourant.description }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </p>
                      </div>
                    </div>
                  {% endfor %}

                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </p>
        </div>
      </div>

    {% endblock %}
