<div class="card">
  <h5 class="card-header">
    Contraintes personnelles
  </h5>
  <div class="card-body">
    <p class="card-text">
      <input type="radio" id="persForte" name="couleur"
            value="persForte"> Priorité forte
            <span class="badge badge-persForte">0/{{formulaireTitulaire.quantitePersForte}}</span>
            </br>
                (Créneaux de {{formulaireTitulaire.dureePersForte}} minutes)
            </br>
          </br>

        <input type="radio" id="persMoy" name="couleur"
              value="persMoy"> Priorité moyenne
              <span class="badge badge-persMoy">0/{{formulaireTitulaire.quantitePersMoy}}</span>
              </br>
                  (Créneaux de {{formulaireTitulaire.dureePersMoy}} minutes)
              </br>
            </br>

      <input type="radio" id="persFaible" name="couleur"
          value="persFaible"> Priorité faible
          <span class="badge badge-persFaible">0/{{formulaireTitulaire.quantitePersFaible}}</span>
          </br>
              (Créneaux de {{formulaireTitulaire.dureePersFaible}} minutes)
          </br>
        </br>
    </p>
  </div>
</div>
