<div class="card">
  <h5 class="card-header">
    Contraintes personnelles
  </h5>
  <div class="card-body">
    <p class="card-text">
      <input type="radio" id="persForte" name="couleur"
            value="persForte">


              Priorité forte <span class="badge" style="background-color:red;color:white">
                0 / {{formulaireTitulaire.quantitePersForte}}
              </span>
            <br />
             (Créneaux de
          {{formulaireTitulaire.dureePersForte}}
          minutes)
          <br /><br />
        <input type="radio" id="persMoy" name="couleur"
              value="persMoy"> Priorité moyenne (Créneaux de
        {{formulaireTitulaire.dureePersMoy}}
        minutes)
        <p style="color:orange">
          (
          {{formulaireTitulaire.quantitePersMoy}}
          {% if formulaireTitulaire.quantitePersMoy > 1 %}
            restantes )</p>
        {% else %}
          restante )</p>
      {% endif %}

      <input type="radio" id="persFaible" name="couleur"
          value="persFaible"> Priorité faible (Créneaux de
      {{formulaireTitulaire.dureePersFaible}}
      minutes)
      <p style="color:green">
        (
        {{formulaireTitulaire.quantitePersFaible}}
        {% if formulaireTitulaire.quantitePersFaible > 1 %}
          restantes )</p>
      {% else %}
        restante )</p>
    {% endif %}
    </p>
  </div>
</div>
