
<div class="card">
  <h5 class="card-header">
    Contraintes professionnelles
  </h5>
  <div class="card-body">
    <p class="card-text">
      <br />
      <input type="radio" id="proForte" name="couleur"
            value="proForte" checked>
            Priorité forte
            <span class="badge badge-proForte" id="quantiteProForte" style="color:white">{{formulaireTitulaire.quantiteProForte}}/{{formulaireTitulaire.quantiteProForte}}</span>
            </br>
            {% if formulaireTitulaire.dureeProForte != 0 %}
                (Créneaux de {{formulaireTitulaire.dureeProForte}} minutes)
            {% else %}
                (Créneaux de durée libre)
            {% endif %}
            </br>
          </br>


        <input type="radio" id="proMoy" name="couleur"
              value="proMoy"> Priorité moyenne
            <span class="badge badge-proMoy" id="quantiteProMoy">{{formulaireTitulaire.quantiteProMoy}}/{{formulaireTitulaire.quantiteProMoy}} </span>
              </br>
              {% if formulaireTitulaire.dureeProMoy != 0 %}
                  (Créneaux de {{formulaireTitulaire.dureeProMoy}} minutes)
              {% else %}
                (Créneaux de durée libre)
              {% endif %}

              </br>
            </br>

      <input type="radio" id="proFaible" name="couleur"
            value="proFaible"> Priorité faible
           <span class="badge badge-proFaible" id="quantiteProFaible">{{formulaireTitulaire.quantiteProFaible}}/{{formulaireTitulaire.quantiteProFaible}}</span>
            </br>
              {% if formulaireTitulaire.dureeProFaible != 0 %}
                (Créneaux de {{formulaireTitulaire.dureeProFaible}} minutes)
                {% else %}
                (Créneaux de durée libre)
                {% endif %}
            </br>
          </br>
    </p>
  </div>
</div>
