<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="{{path('enseignant_indexadmin')}}">My Dispo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Paramètres des formulaires
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <a class="dropdown-item" href="{{path('formulaire_titulaire_edit')}}"> Paramètres formulaire titulaire</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{path('formulaire_vacataire_edit')}}">Paramètres formulaire vacataire</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{path('horaires_non_saisissables')}}">Horaires non saisissables</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{path('evenements')}}">Événements ponctuels</a>
      </div>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('enseignant_index')}}">Les enseignants <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('enseignant_indexadmin')}}">Les saisies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Les mails
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('envoie_modele_mail')}}">Envoi des mails</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('modele_mail_index')}}">Paramètres des mails</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('formation_index')}}">Les formations <span class="sr-only">(current)</span></a>
      </li>
    </ul>
<ul class="navbar-nav md-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{{path('changement_annee')}}"><i class="fas fa-calendar-alt"></i> Passer à l'année suivante<span class="sr-only">(current)</span></a>
    </li>
</ul>
  </div>
</nav>
